<p>Search Results</p>
	<ul>
	<% @stubhub_results["events"].each do |r| %>
		<li>
			<strong>Artist:</strong> <%= r["title"] %>  --  <strong>Lowest Price:</strong> <%= r["ticketInfo"]["minPrice"] %>
		</li>
	<% end %>
	</ul>
	<ul>
	<% @ticketmaster_results["events"].each do |t| %>
		<li>
			<%= t["name"] %> and the <%= t[0] %> will be at:
			<%= t["eventdate"] %>
		</li>
	<% end %>